body {
  /*background-color: #010409;*/
  /*color: #EEECEC;*/
  /*font-family: Courier;*/
  line-height: 140%;
  margin: 50px;
  min-width: 650px;
  max-width: 800px;
  font-family: Arial;
}
h1 { 
  /* font-family: Courier; */
}
pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  border-radius: 5px;
  font-size: 120%;
  overflow-x: auto;
}
span {
  color: blue;
}

#header {
  height: 150px;
  min-width: 675px;
}

#sheep_logo {
  width: 140px;
}

#header-text {
  font-size: 100px;
  width: 482px;
  float: left;
}

@media (prefers-color-scheme: dark) {
  body { 
    background-color: #101111; 
    color: #F2ECEC;
  }
  pre code {
    background-color: #2e4857;
    padding: 20px;
    font-size: 120%;
    overflow-x: auto;
  }
  #footer {
    color: #FFF;
  }
  a {
    color: #069506;
  }
  span {
    color: green;
  }
  #sheep_logo {
    filter: invert(0.93);
    -webkit-filter: invert(0.93);
  }
}
